body {
    font-family: sans-serif;
     margin-top: 60px;
     background-image:url(http://2.bp.blogspot.com/--HV4HAsafq4/TbzmJj2HuPI/AAAAAAAAHD0/MY2j6PTZwWc/s1600/MCG+%252819%2529.jpg);

}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container{
        max-width:800px;
        margin:0 auto; 
        color:grey;
        font-family:sans serif;
        padding-left:20px;
        padding-right:20px;
 }    