body {
    font-family: sans-serif;
     margin-top: 60px;
     background-image:url(http://media.istockphoto.com/photos/white-background-picture-id498090512?k=6&m=498090512&s=170667a&w=0&h=86-HtyXrvxV6LC43wO6A-tJ65PtonD8DXX_7YplNBws=);

}
.horizontalnav{
    border:2px solid black;
    text-align: center;
    background-color:rgb(168,181,189);

}
.horizontalnav ul{
    list-style:none;
}
.horizontalnav li a{
    text-decoration:none;
    color:rgb(125,145,199);
    background-color:rgb(245,225,200);
    font-size: 26px;
}
.horizontalnav li {
    display:inline-block;
    
}

.center {
    text-align: center;
}

.heading {
    text-align: center;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container{
        max-width:800px;
        margin:0 auto; 
        color:grey;
        font-family:sans serif;
        padding-left:20px;
        padding-right:20px;
 }    